.CandidatTest {
  height: 100%;
  width: 100%;
  background-color: #ffff;
  padding: 20px;
  overflow: auto;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(255, 255, 255, 0.3); */
}
